@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
.bodyDespesa {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    background-image: url('../img/efeiteTelas.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.content-modalDespesaPrincipal {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-modalDespesa {
    width:95%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-containerDespesa{
    width: 600px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.329);
    animation: fadeInDown .4s;
}

.buttonsDespesa {
    display: flex;
    width: 95%;
    justify-content: space-between;
    
}

.buttonsDespesa button {
    width: 140px;
    height: 25px;
    background-color: #421652;
    font-family: 'dosis';
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonsDespesa button:nth-child(3){
    background-color: #a80c0c;
}

.corpoDespesas {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: -10%;
    justify-content: space-evenly;
}

.inputsDespesas {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputsDespesas h4 {
    font-family: 'dosis';
    font-size: 30px;
}

.inputsDespesas input,
.inputsDespesas select {
    width: 400px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.247);
    font-family: 'Dosis';
    padding-left: 15px;
    outline: 0;
}

.inputsDespesas select {
    width: 420px;
    height: 40px;
}

.vazioCDespesas {
    margin-top: 60px;
    margin-left: 80px;
    font-size: 18px;
}

.listaDespesas {
    height: 250px;
    padding: 20px;
    width: 550px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.247);
    overflow-y: scroll;
}

.tabela-despesas {
    font-family: 'dosis';
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabela-despesas th {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-bottom: 30px;
}

.trDespesa {
    width: 100%;
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}

.listaDespesas::-webkit-scrollbar {
    width: 10px;
}

.listaDespesas::-webkit-scrollbar-track {
    background-color: #320d3f;
    border-radius: 0 10px 10px 0;
}

.listaDespesas::-webkit-scrollbar-thumb {
    height: 80px;
    background-color: rgb(90, 19, 138);
    border-radius: 0 10px 10px 0;
}

.container {
    position: fixed;
    left: 0;
}

.tituloDespesas {
    display: flex;
    width: 300px;
    height: 100%;
    justify-content: space-between;
}

.tituloDespesas th:nth-child(2){
    margin-left: -24px;
}

.tituloDespesas th:nth-child(3){
    margin-right: -23px;
}

.trDespesa button {
    width: 70px;
    height: 25px;
    background-color: #421652;
    font-family: 'dosis';
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.inputsDespesas button {
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: #421652;
    color: white;
    font-family: 'dosis';
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: 20%;
}

.transicaoTexto {
    box-shadow: inset 15.5em 0 0 0 #fff;
    color: #ffffff;
    transition: all ease-in 0.4s;
    text-decoration: line-through;
}

.inputsDespesas button:hover{
    background-color: #723a86;
    transition: all ease-in 0.3s;
}

.trDespesa td:nth-child(1){
    width: 70px;
    margin-right: 20px;
}

.trDespesa td:nth-child(2){
    width: 100px;
    margin-right: 20px;
}

.trDespesa td:nth-child(3){
    width: 220px;
    margin-right: 20px;
}

.diminuir{
    width: 430px;
}

.tituloDespesa2 {
    width: 285px;
}