.corpoRelatorio {
    width: 90%;
    height: 100%;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.selectRelatorio {
    width: 350px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.247);
    font-family: 'Dosis';
    padding-left: 15px;
    outline: 0;
    margin-top: 80px;
}

.tituloTabelaRelatorio, .linhaTabelaRelatorio  {
    width: 95%;
    display: flex;
    font-family: 'dosis';
    font-size: 24px;
    align-items: flex-end;
}

.tituloTabelaRelatorio th:nth-child(2), .tituloTabelaRelatorio th:nth-child(3){
    font-size: 18px;
}

.linhaTabelaRelatorio td {
    font-size: 18px;
}

.linhaTabelaRelatorio td:nth-child(1){
    width: 60%;
    text-align: start;
}
.linhaTabelaRelatorio td:nth-child(2){
    width: 25%;
    text-align: start;
}
.linhaTabelaRelatorio td:nth-child(3){
    width: 15%;
    text-align: start;
}

.tituloTabelaRelatorio th:nth-child(1){
    width: 60%;
    text-align: start;
}

.tituloTabelaRelatorio th:nth-child(2){
    width: 25%;
    text-align: start;
}

.tituloTabelaRelatorio th:nth-child(3){
    width: 15%;
    text-align: start;
}

.linhaTabelaRelatorio h2 {
    font-size: 20px;
}

.linhaTabelaRelatorio {
    margin-top: 12px;
}

.subtitulosTabelaRelatorio {
    display: flex;
    width: 140px;
    justify-content: space-between;
    font-size: 18px;
    margin-right: 18px;
}

.subLinhaTabelaRelatorio{
    display: flex;
    width: 180px;
    justify-content: space-between;
    font-size: 18px;
}

.buttonDownRelatorio {
    width: 250px;
    height: 35px;
    border-radius: 8px;
    background-color: #421652;
    color: white;
    font-family: 'dosis';
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.tabelaRelatorio {
    width: 700px;
    min-height: 300px;
    max-height: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    padding: 15px 0 15px 15px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.329);
    margin-top: 40px;
    overflow-y: scroll;
    flex-direction: column;
}



.tabelaRelatorio::-webkit-scrollbar {
    width: 10px;
}

.tabelaRelatorio::-webkit-scrollbar-track {
    background-color: #320d3f;
    border-radius: 0 10px 10px 0;
}

.tabelaRelatorio::-webkit-scrollbar-thumb {
    height: 80px;
    background-color: rgb(90, 19, 138); 
    border-radius: 0 10px 10px 0; 
}